<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Part1.SLDPRT">
  <link
    name="backet_cup">
    <inertial>
      <origin
        xyz="-4.2204E-08 -1.21119999997418E-07 0.042168"
        rpy="0 0 0" />
      <mass
        value="0.70346" />
      <inertia
        ixx="0.0009664"
        ixy="-2.3822E-09"
        ixz="-9.2534E-10"
        iyy="0.00096637"
        iyz="2.65570000000618E-09"
        izz="0.0010673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://backet_cup/meshes/backet_cup.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://backet_cup/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://backet_cup/meshes/backet_cup.STL" />
      </geometry>
    </collision>
  </link>
</robot>